@media (max-width: 450px) {
  html{
    width: auto;
    height: auto;
  }

  main{
    display: flex;
    flex-direction: column;
    height: 88vh ;
  }

  .pointer-circle{
    display: none;
  }
  }
