@font-face {
    font-family: 'thunder'; /* Remplacez par le nom que vous souhaitez utiliser */
    src: url('../Thunder-BlackLC.otf') format('truetype'); /* Remplacez par le chemin réel vers votre fichier de police */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'thunder-thin'; /* Remplacez par le nom que vous souhaitez utiliser */
    src: url('../Thunder-ThinLC.otf') format('truetype'); /* Remplacez par le chemin réel vers votre fichier de police */
    font-weight: normal;
    font-style: normal;
  }

html{
    background: var(--main-color);
    cursor: none;

    transition: 2s ease;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

header{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    height: 9vh;
}

.header-logo{
    font-family: 'thunder-thin', sans-serif;
    color: var(--light-shade);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    height: 9vh;
    position: absolute;
    width: 50%;
    left: 18%;
}

.header-menu{
    width: 50%;
}

.header-logo-span{
    font-size: xx-large;
    font-family: 'thunder-thin', sans-serif;
    color: var(--light-color);
}

a {
    color: var(--light-shade); /* Couleur de base pour les liens non visités */
    text-decoration: none; /* Supprime le soulignement par défaut */
    cursor: none;
}

a:visited {
    color: var(--light-shade); /* Couleur des liens visités (identique à la couleur de base) */
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.hidden{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.article_overview {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 12px;
    height: 75vh;
    width: 15%;
    border-radius: 50% 50% 50% 50% / 15% 15% 15% 15%;
    transition: 0.4s ease;
}

.article_overview_title{
    background-color: var(--opac);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 0;
    padding: 25px 0px;
    color: var(--light-color);
    transition: 2s;
}

.article_overview_title_clicked{
    position: absolute;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 2;
}

.article_overview_title_text {
    padding: 5px 5px 5px 5px;
    font-size: x-large;
    font-family: 'thunder-thin', sans-serif;
}

.article_overview_description_cv{
    height: 6vh;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first {
    background-image: url(../Image/chemin.jpg);
  }
  
  #first:hover,
  #second:hover,
  #third:hover,
  #fourth:hover {
    transform: scale(1.01); /* Applique un zoom de 10% sur le survol */
  }

#second{
    background-image: url(../Image/basket.jpg);
}

#third{
    background-image: url(../Image/projet.png);
}

#fourth{
    background-image: url(../Image/image-cv.png);
}

#first,
#second,
#third,
#fourth{
    background-size: cover; /* Optionnel : pour ajuster la taille de l'image de manière à couvrir l'élément */
    background-repeat: no-repeat; /* Optionnel : pour éviter la répétition de l'image */
    background-position: left; 
    transition: transform 0.2s;
}

.article_overview:hover {
    transform: scale(1); /* Applique un zoom de 110% lors du survol */
}

.article_overview_description {
    display: flex;
    height: 84%;
    font-family: 'thunder-thin', sans-serif;
    margin: 2% 8%;
    text-align: justify;
    word-spacing: 4px;
    font-size: x-large;
}

.article_overview_description ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0% 7%;
    gap: 6vh;
}

object{
    height: 68vh;
    opacity: 1;
}

/* Style alternatif pour les éléments pairs (à droite) */
.alternate-align li:nth-child(even) {
    text-align: right;
}

/* Style alternatif pour les éléments impairs (à gauche) */
.alternate-align li:nth-child(odd) {
    text-align: left;
}

.content{
    display: none;
    height: auto;
}

.loader{
    margin: 0vh 5vh;
}

.loader-container{
    height: 100vh;
}

.loader-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loader-presentation{
    display: flex;
    gap: 15vh ;
}

.loader-presentation-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 75vh;
}

.loader-presentation-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader-image>img{
    height: 74vh;
    border-radius: 30px;
}

.loader-presentation-text h2{
    color: var(--light-color);
    font-family: 'thunder-thin', sans-serif;
    font-size: x-large;
}

.loader-presentation-text h3{
    font-family: 'thunder-thin', sans-serif;
    font-weight: bold;
    color: var(--light-color);
    display: flex;
    align-items: center;
    height: 28%;
    font-size: 135px;
    letter-spacing: 4px;
}

.loader-presentation-text h4{
    font-size: 30px;
    font-family: 'thunder-thin' , sans-serif;
    color: var(--light-shade);
}

.loader-presentation-text-p{
    font-family: 'thunder-thin', sans-serif;
    font-size: larger;
    color: var(--light-shade);
    opacity: 0,5;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease; /* Vous pouvez ajuster la durée et l'effet d'interpolation selon vos besoins */
}
  
.fade-in {
    display: block;
    opacity: 1;
    transition: 0,5s ease; /* Assurez-vous que la durée et l'effet d'interpolation correspondent à ceux de la classe fade-out */
}

button {
    font: 'thunder', sans-serif;
    position: relative;
    display: inline-block;
    cursor: none;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 33rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--main-shade);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--light-shade);
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--light-shade);
    border-right: 0.125rem solid var(--light-shade);
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--main-shade);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: var(--light-shade);
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: var(--light-shade);
   }

.card-tech-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    gap: 2vh;
}

.card-tech>img{
    height: 15vh;
}

.pointer-circle{
    transition: 0.3s ease;
}

.show_div_container{
    display: flex;
}

.show_div{
    width: 61%;
    height: 100%;
    position: relative;
}

.article_overview_description_softskill{

}

.article_overview_li_hobbies{
    display: flex;
    flex-direction: column;
    font-family: 'thunder-thin';
    color: var(--light-shade);
}

.article_overview_li_hobbies>span{
   color: var(--light-color);
}

.back_arrow{
    height: 6vh;
    position: absolute;
    left: 15vh;
    top: 7vh;
}

.theme_button>img{
    height: 4vh;
    position: absolute;
    right: 39vh;
}